@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/fennec';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

html,
body {
  @apply h-full;
}

.floating {
	width: max-content;
	position: absolute;
	top: 0;
	left: 0;
}